nav ul {
list-style: none;
display: flex;
justify-content: space-around;
background-color: #9fbdcd;
margin: 0;
padding: 20px;

}
nav a {
    color: rgb(13, 14, 15);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}